name: Build
on:
  push:
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

jobs:
  build:
    name: Build Scores
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup LilyPond
        uses: codello/setup-lilypond@main
        with:
          # You should instead use the specific LilyPond version used
          # in your project, e.g. "2.24"
          lilypond-version: stable
          ol-fonts: beethoven
      - name: Install Yorkten Font
        run: aws s3 cp s3://brewery/fonts/yorkten/ "$HOME/.local/share/fonts" --recursive
        env:
          AWS_ENDPOINT_URL: https://s3.eu-central-003.backblazeb2.com
          AWS_DEFAULT_REGION: eu-central
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Compile Scores
        run: make all
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Scores
          path: build/*
      - name: Upload Release Assets
        if: github.event_name == 'release' && github.event.action == 'published'
        run: gh release upload "$GITHUB_REF_NAME" build/*
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
